[Unit]
Description=gitbook service
After=network.target sshd-keygen.service

[Service]
WorkingDirectory=/usr/local/lib/nodejs/bin/gitbook

ExecStart=/usr/local/lib/nodejs/bin/gitbook serve --port 80

[Install]
WantedBy=graphical.target